@use '../../styles/var.scss';

#Topic {
  margin-top: 3rem;
  padding: 1rem;
  .content {
    padding: 3rem 3rem 2rem 3rem;
    border-radius: 8px;
    background-color: var.$gray600;  
    border: 2px solid var.$gray500;
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .user {
        display: flex;
        align-items: center;
        gap: 1rem;
        svg {
          width: 48px;
          height: 48px;
          padding: .5rem;
          border: 2px solid var.$green700;
          background-color: var.$gray600;
          border-radius: 8px;
        }
      }
      > time {
        font-size: .8rem;
        color: var.$text-secondary;
      }
      .info {
        display: flex;
        align-items: center;
        gap: 1rem;
        .name {
          font-weight: 500;
          color: var.$title;
        }
        .cat {
          border: 2px solid var.$green700;
          font-weight: 500;
          color: var.$title;
          padding: .3rem;
          text-transform: uppercase;
          font-size: .7rem;
          border-radius: 5px;
        }
      }
    }
    .desc {
      padding: 1rem 2rem;
      border-bottom: 2px solid var.$gray300;
      h2 {
        margin-bottom: 1rem;
      }
      p {
        line-height: 1.6rem;
      }
    }
    .answer {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      form {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1rem;
        textarea {
          border-radius: 8px;
          width: 100%;
          resize: vertical;
          min-height: 110px;
          max-height: 110px;
          background-color: var.$gray500;
          color: var.$text-primary;
          outline: 0;
          padding: 1rem;
          border: 1px solid var.$gray300;        
          &:hover {
            border-color: var.$green700;
          }
          &:focus {
            border-color: var.$green700;
          }
        }
      }
      footer {
        visibility: hidden;
        display: none;
     }
      &:focus-within footer {
        visibility: visible;
        display: initial;
      }
    }
    .comments {
       margin-top: 2rem;
       display: flex;
       flex-direction: column;
       gap: 1rem
    }
  }
}
